* {
  box-sizing: border-box;

}

body {
  margin: 0;
  background-color: rgb(81, 67, 67);
}

.header {
  display:block;
  align-items: center;
}

.memes-head {
  border-radius: 10px;
  margin-top: -1.99em;
  width:100%;
  height:330px;
  cursor: pointer;

 
}

.memes-head:hover {
  filter: brightness(50%);
  transform: scale(1.2);
  
}

.header h1 {
  border-radius: 10px;
  text-align: center;
  background : linear-gradient(to right , rgb(241, 115, 115) 0%, rgb(241, 115, 115) 50% , rgb(157, 157, 244) 50% , rgb(157, 157, 244) 100% );
  margin-top: -0.15em;
  padding: 10px;
  color: rgb(61, 42, 7);
  font-size: xxx-large;
  
  
}

.footer {
  background-color: rgb(0, 0, 0);
  margin-top: 0%;
  border-radius: 2px;


}

.footer small {
  color: rgb(224, 224, 224);
  padding-left: 10px;
  font-weight: bold;
  padding: 30px ;
  
}

.main-meme {
  padding: 30px;
  margin-top: -0.3em;

}

.form-box {
  display: grid;
  grid-template: 60px 60px / 1fr 1fr;
  gap: 17px;
}

.form-input {
  border-radius: 10px;
  text-indent: 10px;
  font-size: x-large;
  border: 1px solid #D5D4D8;

}

.form-input:hover {
  background:linear-gradient(to right , rgb(230, 207, 207) 0%, rgb(230, 207, 207) 50% , rgb(241, 252, 149) 50% , rgb(241, 252, 149) 100% );;
  
}

.form-btn {
  grid-column: 1 /-1 ;
  background: linear-gradient(to right , rgb(241, 115, 115) 0%, rgb(241, 115, 115) 50% , rgb(157, 157, 244) 50% , rgb(157, 157, 244) 100% );;
  color: rgb(61, 42, 7);
  font-size: x-large;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.meme--image {
  max-width: 100%;
  margin-left: 22%;
  margin-top: 2%;
  
}

.meme {
  position: relative;
}


.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}